header {
    height: 90px;
}

header .row {
    height: 80px;
}

.row-bg {
    background-color: lightblue;
}

[class*='column'] {
    background-color: lightskyblue;
    height: 50px;
    border: 1px dashed black;
}

.big {
    height: 250px;
}


.footer-bottom {
    height: 100px;
}

