/* General */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

header {
   background-color: #2C3E50
}

footer {
    margin: 20px 0;
}



/* Utilies */

._margin-auto {
    margin: 0 auto;
}

/* header */

header .row {
    height: 80px;
}

._list {
    margin-top: 10px;
}

/* Jumbotron */

#jumbotron {
    background-color: #1abc9c;
    height: 80vh;
    padding: 20px 0;
}

.jumbocontainer {
    width: 70%;
    margin: 40px auto;
}

._jumbo-img img {
    height: 30%;
}

._star-container {
    margin: 0 auto;
}

/* Portfolio */

._column img {
    border-radius: 20px;
    margin: 20px;;
}

/* About */

#_bg-acqua {
    background-color: #1abc9c;
}




.footer-bottom {
    height: 100px;
}

