body {
    font-family: 'Roboto', sans-serif;
}

header {
   background-color: #2C3E50
}

header .row {
    height: 80px;
}

footer {
    margin: 20px 0;
}

/* header */

._list {
    margin-top: 10px;
}
.row-bg {
    background-color: lightblue;
}

[class*='column'] {
    height: 50px;
    border: 1px dashed black;
}

.big {
    height: 250px;
}


.footer-bottom {
    height: 100px;
}

